# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
venv/
env/
.env
.venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# pytest
.pytest_cache/

# IDE & editors
.vscode/
.idea/
*.suo
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs & databases
*.log
*.sqlite3
